# ----------------------------------------
# 1. Visual Studio / C++ 
# ----------------------------------------

*.suo

*.vcxproj.user

Debug/
Release/
x64/
x86/
bin/
obj/
*.exe
*.dll
*.lib

*.obj
*.pdb
*.ilk
*.idb
*.ipch


*.vs/
.vs/
ipch/
*.VC.db
*.VC.VC.opendb

*.sln.bak


*.log
*~